.app {
  text-align: center;
}
.middle {
  display: flex;
  justify-content: space-around;
}
.form {
  flex: 0.6;
}
form {
  display: flex;
  justify-content: space-between;
}
.todo_list_box {
  margin-top: 2%;
  padding-left: 25%;
  width: 100%;
}
.todo {
  padding: 5px;
  width: 50%;
  display: flex;
}
.todo > h1 {
  flex: 0.7;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.todo > div {
  flex: 0.3;
  display: flex;
  justify-content: space-between;
}
.completed {
  text-decoration-line: line-through;
}
.footer {
  display: flex;
  /* justify-content: space-between; */
  position: absolute;
  padding-left: 25%;
  width: 100%;
  bottom: 0;
}
.hideMe {
  display: none;
}
